/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 210;
  /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*==================== NAV ====================*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo, .nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
  fill: var(--first-color);
}

.nav__list {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  fill: white;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--first-color);
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

.active-link svg {
  fill: var(--first-color);
}

/* Change background header */
.scroll-header {
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  font-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: var(--mb-0-5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: white;
}

.button__icon-services {
  fill: var(--first-color);
}

.button__icon-project {
  fill: var(--first-color);
}

.button__icon-download {
  fill: white;
}

.button--white {
  background-color: #fff;
  color: var(--first-color);
}

.button--white:hover {
  background-color: #fff;
}

.button--about-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button--flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button--small {
  padding: 0.75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

.button--link:hover svg {
  fill: var(--first-color-alt);
}

/*==================== HOME ====================*/
.home__container {
  gap: 1rem;
}

.home__content {
  -ms-grid-columns: 0.5fr 3fr;
      grid-template-columns: 0.5fr 3fr;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  row-gap: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.home__social-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--first-color);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.home__social-icon:hover {
  color: #0479ee;
}

.home__social-icon-leetcode:hover {
  fill: #0479ee;
}

.home__blob {
  width: 200px;
  fill: var(--first-color);
  /* fill: hsl(200, 33%, 84%); */
}

.home__img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.home__blob-img {
  width: 165px;
}

.home__data {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  position: relative;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  margin-bottom: var(--mb-2);
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--first-color);
  fill: var(--first-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home__scroll-button:hover {
  -webkit-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
}

.home__scroll-mouse {
  width: 2rem;
  height: 2rem;
  fill: var(--first-color);
}

.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  width: 1.25rem;
  height: 1.25rem;
}

/*==================== ABOUT ====================*/
.about__img {
  width: 200px;
  border-radius: 0.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info-name {
  font-size: var(--smaller-font-size);
}

.about__info-title, .about__info-name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*==================== SKILLS ====================*/
.skills__container {
  row-gap: 0;
}

.skills__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon, .skills__arrow {
  width: 2rem;
  height: 2rem;
  fill: var(--first-color);
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__title {
  font-size: var(--h3-font-size);
}

.skills__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills__arrow {
  margin-left: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar, .skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: var(--first-color-lighter);
}

.skills__percentage {
  display: block;
  background-color: var(--first-color);
}

.skills__html {
  width: 85%;
}

.skills__css {
  width: 80%;
}

.skills__js {
  width: 80%;
}

.skills__react {
  width: 75%;
}

.skills__python {
  width: 85%;
}

.skills__discord {
  width: 70%;
}

.skills__node {
  width: 80%;
}

.skills__mongodb {
  width: 40%;
}

.skills__electron {
  width: 75%;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/*==================== QUALIFICATION ====================*/
.qualification__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification__button:hover {
  color: var(--first-color);
}

.qualification__button:hover svg {
  fill: var(--first-color);
}

.qualification__icon {
  width: 1.8rem;
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
  fill: #babfc4;
}

.qualification__data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  /* margin-bottom: 0.3rem; */
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__calendar {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  -webkit-transform: translate(6px, -7px);
          transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: var(--first-color);
}

.qualification__button.qualification__active svg {
  fill: var(--first-color);
}

/*==================== SERVICES ====================*/
.services__container {
  gap: 1.5rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.services__content {
  position: relative;
  background-color: var(--container-color);
  /* padding: 3.5rem 0.5rem 1.25rem 1.5rem; */
  padding: 1rem 0.5rem 3.75rem 1.5rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services__content:hover {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.services__icon {
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--first-color);
}

.services__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.services__button,
.services .portfolio__button {
  cursor: pointer;
  font-size: var(--small-font-size);
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.services__button:hover .button__icon {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

.services__modal,
.services .portfolio__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services__modal-content,
.services .portfolio__modal-content {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.services__modal_services {
  row-gap: 1rem;
}

.services__modal-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
  padding-right: 1.5rem;
}

.services__modal-close,
.services .portfolio__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--first-color);
  cursor: pointer;
}

.services__modal-icon {
  color: var(--first-color);
  fill: var(--first-color);
  margin-right: var(--mb-0-25);
  width: 1rem;
  height: 1rem;
}

/* Active Modal */
.active-modal {
  opacity: 1 !important;
  visibility: visible !important;
}

/*==================== PORTFOLIO ====================*/
.portfolio__container {
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
}

.portfolio__img {
  width: 265px;
  border-radius: 0.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.portfolio__title {
  font-size: var(--h3-font-size);
  /* margin-bottom: var(--mb-0-5); */
}

.portfolio__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
  padding-right: 1.5rem;
}

.portfolio__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-5);
}

.portfolio__description {
  margin-bottom: var(--mb-0-75);
}

.portfolio__button {
  -webkit-transform: unset;
          transform: unset;
  cursor: pointer;
  font-size: var(--small-font-size);
}

.portfolio__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__modal-content {
  height: 80%;
  width: 70%;
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.portfolio__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--first-color);
}

.portfolio__modal-img {
  width: 80%;
  border-radius: 0.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.portfolio__button:hover .button__icon {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

.portfolio__modal-swiper-next {
  right: 0rem !important;
}

.portfolio__modal-swiper-prev {
  left: 0rem !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-portfolio-icon {
  width: 2rem;
  height: 2rem;
  fill: var(--first-color);
  overflow: visible;
}

.swiper-button-prev {
  left: -0.5rem;
}

.swiper-button-next {
  right: -0.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
  outline: none;
}

/*==================== PROJECT IN MIND ====================*/
.project {
  text-align: center;
}

.project__bg {
  background-color: var(--first-color);
  padding-top: 3rem;
}

.project__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-75);
}

.project__description {
  margin-bottom: var(--mb-1-5);
}

.project__title, .project__description {
  color: #fff;
}

.project__img {
  width: 232px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transform: translatey(-1.5rem);
          transform: translatey(-1.5rem);
  margin-top: 1rem;
}

/*==================== TESTIMONIAL ====================*/
.testimonial__data, .testimonial__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial__data {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--mb-1);
}

.testimonial__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: var(--mb-0-75);
}

.testimonial__name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.testimonial__client {
  font-size: var(--small-font-size);
  color: var(--first-color);
}

.testimonial__description {
  margin-bottom: var(--mb-2-5);
}

.testimonial__icon-star {
  color: var(--first-color);
}

.swiper-container .swiper-pagination-testimonial {
  bottom: 0;
}

/*==================== CONTACT ME ====================*/
.contact__container {
  row-gap: 3rem;
}

.contact__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact__lable {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__input {
  width: 100%;
  background-color: var(--input-color) !important;
  color: var(--text-color) !important;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

/*==================== FOOTER ====================*/
.footer {
  padding-top: 2rem;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover {
  color: var(--first-color);
}

.footer__icon {
  width: 1.3rem;
  fill: white;
  height: 1.3rem;
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: var(--mb-3);
}

.footer__title, .footer__subtitle, .footer__link, .footer__social {
  color: #fff;
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

.scrollup__icon {
  fill: #fff;
  width: 1.5rem;
  height: 1.5rem;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.popup__card {
  width: 29rem;
  height: 8rem;
  background-color: #111111;
  border-radius: 10px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: initial;
  position: relative;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.25);
          transform: translate(-50%, -50%) scale(0.25);
  -webkit-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1;
}

.popup__close:hover {
  color: var(-first-color);
}

.blur {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .blur {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.blur:target {
  opacity: 1;
  visibility: visible;
}

.open {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transform: translateY(0rem) !important;
          transform: translateY(0rem) !important;
}

.open .popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.message__NotifiyerConnection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.message__title {
  font-size: 1.5rem;
}

.message__content {
  font-size: 14px;
}

.message__mail {
  stroke: var(--first-color);
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  right: 2.9rem;
  top: 2rem;
  z-index: 5;
}

/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
:root {
  --check-size: 80px;
}

.success-checkmark {
  width: var(--check-size);
  height: var(--check-size);
  margin: 0 auto;
}

.success-checkmark .check-icon {
  width: var(--check-size);
  height: var(--check-size);
  position: relative;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 4px solid #4caf50;
}

.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}

.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  -webkit-animation: rotate-circle 4.25s ease-in;
          animation: rotate-circle 4.25s ease-in;
}

.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: #111111;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}

.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: icon-line-tip 0.75s;
          animation: icon-line-tip 0.75s;
}

.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: icon-line-long 0.75s;
          animation: icon-line-long 0.75s;
}

.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: var(--check-size);
  height: var(--check-size);
  border-radius: 50%;
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 4px solid rgba(131, 226, 135, 0.5);
}

.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #111111;
}

@-webkit-keyframes rotate-circle {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  5% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  12% {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
}

@keyframes rotate-circle {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  5% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  12% {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
}

@-webkit-keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@-webkit-keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.wifi-symbol {
  display: none;
}

.wifi-symbol [foo], .wifi-symbol {
  display: block;
  position: absolute;
  right: -2.2rem;
  top: 1.8rem;
  display: inline-block;
  width: 88px;
  height: 88px;
  margin-top: -110px;
  -webkit-transform: rotate(-45deg) translate(-100px);
  transform: rotate(-45deg) translate(-100px);
}

.wifi-symbol .wifi-circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12.57143px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-color: #ff4e18;
  border-style: solid;
  border-width: 1em 1em 0 0;
  border-radius: 0 100% 0 0;
  opacity: 0;
  -webkit-animation: wifianimation 3s infinite;
  animation: wifianimation 3s infinite;
}

.wifi-symbol .wifi-circle.first {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

.wifi-symbol .wifi-circle.second {
  width: 5em;
  height: 5em;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.wifi-symbol .wifi-circle.third {
  width: 3em;
  height: 3em;
}

.wifi-symbol .wifi-circle.fourth {
  width: 1em;
  height: 1em;
  opacity: 1;
  background-color: #ff4e18;
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}

/* KEYFRAMES */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes spin3D {
  from {
    -webkit-transform: rotate3d(0.5, 0.5, 0.5, 360deg);
            transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    -webkit-transform: rotate3d(0deg);
            transform: rotate3d(0deg);
  }
}

@keyframes spin3D {
  from {
    -webkit-transform: rotate3d(0.5, 0.5, 0.5, 360deg);
            transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    -webkit-transform: rotate3d(0deg);
            transform: rotate3d(0deg);
  }
}

@-webkit-keyframes configure-clockwise {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes configure-clockwise {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes configure-xclockwise {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  75% {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
  100% {
    -webkit-transform: rotate(-315deg);
            transform: rotate(-315deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  75% {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
  100% {
    -webkit-transform: rotate(-315deg);
            transform: rotate(-315deg);
  }
}

@-webkit-keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

/* GRID STYLING */
.spinner-box {
  width: var(--spiner-size);
  height: var(--spiner-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  margin-right: 1rem;
  position: relative;
}

/* ALTERNATING ORBITS */
:root {
  --spiner-size: 88px;
}

.circle-border {
  width: var(--spiner-size);
  height: var(--spiner-size);
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: var(--first-color);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(33%, rgba(63, 249, 220, 0.1)), to(var(--first-color)));
  background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, var(--first-color) 100%);
  -webkit-animation: spin 0.8s linear 0s infinite;
          animation: spin 0.8s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #111111;
  border-radius: 50%;
}

/*========== Button Dark/Light ==========*/
.nav__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.change-theme {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.chanknowledge and over one year of experience,
working in desktop and web technologies,
deliveringge-theme:hover {
  color: var(--first-color);
}

/*==================== BASE ====================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.backgroundAnimation {
  position: absolute;
  display: inline;
  width: 130%;
  top: -3rem;
  z-index: -1;
  left: -6rem;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 300px) {
  .portfolio__modal-content {
    height: 255px !important;
  }
}

@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .home__content {
    -ms-grid-columns: 0.75fr 3fr;
        grid-template-columns: 0.75fr 3fr;
  }
  .home__blob {
    width: 180px;
  }
  .skills__title {
    font-size: var(--normal-font-size);
  }
  .qualification__data {
    gap: 0.5rem;
  }
  .services__container {
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__content {
    padding-right: 3.5rem;
  }
  .services__modal {
    padding-right: 0 0.5rem;
  }
  .project__img {
    width: 200px;
  }
  .testimonial__data,
  .testimonial__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonial__img {
    margin-right: 0;
    margin-bottom: var(--mb-0-25);
  }
  .testimonial__data,
  .testimonial__description {
    text-align: center;
  }
  .portfolio__modal-content {
    height: 270px;
    width: 100vw;
  }
  .portfolio__modal-img {
    width: 100%;
  }
  .portfolio__modal-swiper-next {
    display: none;
  }
  .portfolio__modal-swiper-prev {
    display: none;
  }
  .backgroundAnimation {
    width: 100%;
    top: -2rem;
    left: 0rem;
  }
  .popup__card {
    width: 16rem;
    height: 6rem;
  }
  .check-icon {
    -webkit-transform: scale(0.5) translate3d(0, 0, 0) perspective(1px);
            transform: scale(0.5) translate3d(0, 0, 0) perspective(1px);
  }
  .success-checkmark {
    margin-bottom: 0.5rem;
    width: 44px;
    -webkit-transform: translateX(-22px);
            transform: translateX(-22px);
  }
  .spinner-box {
    margin-right: 0;
  }
  .message__content-success {
    font-size: 10px;
  }
  :root {
    --spiner-size: 44px;
  }
  .message__mail {
    width: 1.5rem;
    height: 1.5rem;
    right: 1.6rem;
    top: 2.2rem;
  }
  .message__title {
    font-size: 0.9rem;
  }
  .wifi-symbol [foo],
  .wifi-symbol {
    right: -4.5rem;
    top: 0;
  }
  .wifi-circle.second {
    display: none;
  }
}

@media screen and (min-width: 351px) {
  .popup__card {
    width: 20rem;
  }
  .check-icon {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .success-checkmark {
    margin-bottom: 0.5rem;
    width: 44px;
    -webkit-transform: translateX(-22px);
            transform: translateX(-22px);
    margin-right: 0.5rem;
  }
  .spinner-box {
    margin-right: 0;
  }
  .message__content-success {
    font-size: 13px;
  }
  :root {
    --spiner-size: 52.8px;
  }
  .message__mail {
    width: 1.9rem;
    height: 1.9rem;
    right: 1.66rem;
    top: 3.1rem;
  }
  .message__title {
    font-size: 1.2rem;
  }
  .wifi-symbol [foo],
  .wifi-symbol {
    right: -4.5rem;
    top: 1rem;
  }
  .wifi-circle.second {
    display: none;
  }
  .portfolio__modal-content {
    height: 310px;
    width: 100vw;
  }
  .portfolio__modal-img {
    width: 100%;
  }
  .portfolio__data {
    margin-left: 30px;
  }
  .portfolio__modal-swiper-next {
    /* right: -1.6rem !important; */
    display: none;
  }
  .portfolio__modal-swiper-prev {
    /* left: -1.6rem !important; */
    display: none;
  }
  .backgroundAnimation {
    width: 100%;
    top: -4rem;
    left: 0rem;
  }
}

@media screen and (min-width: 430px) {
  .portfolio__modal-content {
    height: 290px;
    width: 420px;
  }
  /* .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: -1.5rem;
    } */
  .modal-pagination {
    bottom: -1.5rem !important;
  }
  .backgroundAnimation {
    top: -8rem;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .portfolio__modal-img {
    width: 80%;
  }
  .portfolio__data {
    margin-left: 0px;
  }
  /* .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: -2.5rem;
    } */
  .modal-pagination {
    bottom: -2.5rem !important;
  }
  .home__content {
    -ms-grid-columns: 0.3fr 1fr 1fr;
        grid-template-columns: 0.3fr 1fr 1fr;
  }
  .home__data {
    grid-column: initial;
  }
  .home__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about__container,
  .skills__container,
  .portfolio__content,
  .project__container,
  .contact__container,
  .footer__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .qualification__sections {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.6fr;
        grid-template-columns: 0.6fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio__modal-content {
    height: 335px;
    width: 525px;
  }
  .portfolio__modal-swiper-next {
    right: -1rem !important;
    display: inline-block;
  }
  .portfolio__modal-swiper-prev {
    left: -1rem !important;
    display: inline-block;
  }
  .backgroundAnimation {
    top: -2rem;
    left: -5rem;
    width: 130%;
  }
  .project__img {
    margin-top: 0;
  }
  .popup__card {
    width: 26rem;
  }
  .check-icon {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .success-checkmark {
    margin-right: 1.3rem;
    margin-left: 2rem;
  }
  .spinner-box {
    margin-right: 0.5rem;
  }
  .message__content-success {
    font-size: 14px;
  }
  :root {
    --spiner-size: 70.4px;
  }
  .message__mail {
    width: 2.9rem;
    height: 2.9rem;
    top: 2.6rem;
    margin-right: 0.5rem;
  }
  .message__title {
    font-size: 1.3rem;
  }
  .wifi-symbol [foo],
  .wifi-symbol {
    right: -2.7rem;
    top: 1.7rem;
  }
  .wifi-circle.second {
    display: block;
  }
}

@media screen and (min-width: 620px) {
  .backgroundAnimation {
    top: -4rem;
    left: -7rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .section__subtitle {
    margin-bottom: 4rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }
  .header,
  .main,
  .footer__container {
    padding: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .nav__icon,
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }
  .home__container {
    row-gap: 5rem;
  }
  .home__content {
    padding-top: 2rem;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    -ms-grid-columns: 0.2fr 1fr 1fr;
        grid-template-columns: 0.2fr 1fr 1fr;
  }
  .home__blob {
    width: 270px;
  }
  .home__scroll {
    display: block;
  }
  .home__scroll-button {
    margin-left: 3.5rem;
  }
  .home__social {
    margin-left: 0.5rem;
  }
  .about__container {
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
  .about__img {
    width: 350px;
  }
  .about__description {
    text-align: initial;
  }
  .about__info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__buttons {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .qualification__tabs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .qualification__button {
    margin: 0 var(--mb-1);
  }
  .qualification__sections {
    -ms-grid-columns: 0.5fr;
        grid-template-columns: 0.5fr;
  }
  .services__container {
    -ms-grid-columns: (218px)[3];
        grid-template-columns: repeat(3, 218px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__icon {
    width: 2rem;
    height: 2rem;
  }
  .services__content {
    padding: 1rem 0 7rem 2.5rem;
  }
  .services__modal-content {
    width: 500px;
  }
  .portfolio__img {
    word-wrap: 320px;
  }
  .portfolio__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project {
    text-align: initial;
  }
  .project__bg {
    background: none;
  }
  .project__container {
    background-color: var(--first-color-second);
    border-radius: 1rem;
    padding: 3rem 2.5rem 0;
    -ms-grid-columns: 1fr max-content;
        grid-template-columns: 1fr -webkit-max-content;
        grid-template-columns: 1fr max-content;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  .project__data {
    padding-top: 0.8rem;
  }
  .footer__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg {
    padding: 2rem 0 1.5rem;
  }
  .footer__links {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-column-gap: 2rem !important;
            column-gap: 2rem !important;
  }
  .footer__socials {
    justify-self: flex-end;
  }
  .footer__copy {
    margin-top: 0;
  }
  .portfolio__modal-content {
    height: 470px;
    width: 740px;
  }
  .portfolio__modal-swiper-next {
    right: 0.5rem !important;
  }
  .portfolio__modal-swiper-prev {
    left: 0.5rem !important;
  }
  .backgroundAnimation {
    top: -6rem;
    left: -8rem;
  }
  .popup__card {
    width: 29rem;
  }
  .check-icon {
    -webkit-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
            transform: scale(1) translate3d(0, 0, 0) perspective(1px);
  }
  .success-checkmark {
    margin-left: 4rem;
    margin-right: 2rem;
  }
  .spinner-box {
    margin-right: 0.5rem;
  }
  :root {
    --spiner-size: 88px;
  }
  .message__mail {
    width: 3.5rem;
    height: 3.5rem;
    right: 2.4rem;
    top: 2.3rem;
    margin-right: 0;
  }
  .message__title {
    font-size: 1.5rem;
  }
  .wifi-symbol [foo],
  .wifi-symbol {
    right: -2.2rem;
    top: 1.8rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }
  .home__blob {
    width: 320px;
  }
  .home__social {
    -webkit-transform: translateX(-6rem);
            transform: translateX(-6rem);
    margin-left: 0;
  }
  .home__scroll-button {
    margin-left: 3rem;
  }
  .home__content {
    -ms-grid-columns: max-content 1fr 1fr;
        grid-template-columns: -webkit-max-content 1fr 1fr;
        grid-template-columns: max-content 1fr 1fr;
  }
  .services__container {
    -ms-grid-columns: (238px)[3];
        grid-template-columns: repeat(3, 238px);
  }
  .portfolio__content {
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
  .swiper-portfolio-icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .swiper-button-prev {
    left: -3.5rem;
  }
  .swiper-button-next {
    right: -3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -4.5rem;
  }
  .contact__form {
    width: 460px;
  }
  .contact__inputs {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .portfolio__modal-content {
    height: 510px;
    width: 872px;
  }
}
/*# sourceMappingURL=main.css.map */