/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--first-color-alt);
  }

  &__icon {
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: 0.3s;
    fill: white;

    &-services {
      fill: var(--first-color);
    }
    &-project {
      fill: var(--first-color);
    }
    &-download {
      fill: white;
    }
  }

  &--white {
    background-color: #fff;
    color: var(--first-color);
  }

  &--white:hover {
    background-color: #fff;
  }

  &--about-a {
    display: flex;
  }

  &--flex {
    display: inline-flex;
    align-items: center;
  }

  &--small {
    padding: 0.75rem 1rem;
  }

  &--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
  }

  &--link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
    svg {
      fill: var(--first-color-alt);
    }
  }
}
